/* Common */
ul li{
	list-style: none;
}
img{
	max-width: 100%;
	max-height: 100%;
}
h1.page-title{
	font-size: 2rem;
}
.main-box{
    padding: 1.4rem;
    max-width: 600px;
}

/* Product */
ul.product-list{
    min-width: 300px;
    width: 100%;
    padding: 0;
}
.product-image{
    /*height: 300*/
    border: 2px dashed #ccc;
}

.product-image iframe,
.product-image img{
}

ul.product-list figcaption{
    margin-top: 2px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: .6em 0;
}
ul.product-list li{
    margin-bottom: 3rem;
}
figure img{
  object-fit: cover;
}

/* home */
.home-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url(../images/home.svg) no-repeat center center /cover;
    z-index: 0;
}


@media screen and (max-width: 55em) {
    .home-bg{
        background-position: -150px center;
    }
}
