

.screen8 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen8 .flyer {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 139px;
  height              : 512px;
  width               : 353px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.screen8 .flyer .flyer3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 272px;
  height              : 240px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer3 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 226px;
  height              : auto;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.screen8 .flyer .flyer3 .photoarea {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 218px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 280px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
}
.screen8 .flyer .flyer2 .buttom {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 250px;
  height              : 30px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer2 .buttom .view1 {
  background          : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 30px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.screen8 .flyer .flyer2 .buttom .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.screen8 .flyer .flyer2 .copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 228px;
  height              : auto;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.screen8 .flyer .flyer2 .image1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 224px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 250px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer1 .view2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 220px;
  height              : 30px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .flyer .flyer1 .view2 .view3 {
  background          : rgba(249, 205, 52, 1.0);
  top                 : 0px;
  height              : 30px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.screen8 .flyer .flyer1 .view2 .label3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.screen8 .flyer .flyer1 .label4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 198px;
  height              : auto;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.screen8 .flyer .flyer1 .image2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 194px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .carousel {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 85px;
  height              : 32px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.screen8 .carousel .cal5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
}
.screen8 .carousel .cal5 .label5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.screen8 .carousel .cal4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
}
.screen8 .carousel .cal4 .label6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.screen8 .carousel .cal3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
}
.screen8 .carousel .cal3 .label7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.screen8 .carousel .cal2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
}
.screen8 .carousel .cal2 .label8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.screen8 .carousel .cal1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .carousel .cal1 .rectangle8-copy4 {
  background          : rgba(249, 205, 52, 1.0);
  top                 : 0px;
  height              : 32px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 16px;
}
.screen8 .carousel .cal1 .label9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  font-family         : "HiraginoSans-W5", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.screen8 .header {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .header .headerarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .header .label10 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(37, 37, 37, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.screen8 .header .kakiicon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 338px;
}
.screen8 .nav {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 620px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .nav .navarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.95;
}
.screen8 .nav .view4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
}
.screen8 .nav .view4 .label11 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.screen8 .nav .view4 .conficon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen8 .nav .view4 .conficon .stroke146 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.screen8 .nav .view4 .conficon .stroke148 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .nav .view5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
}
.screen8 .nav .view5 .label12 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.screen8 .nav .view5 .flyericon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen8 .nav .view5 .flyericon .stroke340 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .nav .view5 .flyericon .stroke342 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}