

.screen7 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen7 .section-bar-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 73px;
  height              : 3px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.screen7 .header {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .header .headerarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .header .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.screen7 .view1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view1 .buttom {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view1 .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(133, 133, 133, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen7 .view2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 175px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view2 .view3 {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view2 .back-chevron-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 15px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
}
.screen7 .view2 .label3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 37, 37, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen7 .view2 .hata-icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 23px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.screen7 .view4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 123px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view4 .view5 {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .view4 .back-chevron {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 15px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
}
.screen7 .view4 .label4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 37, 37, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen7 .view4 .push-icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 23px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.screen7 .nav {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 620px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen7 .nav .navarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.95;
}
.screen7 .nav .view6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
}
.screen7 .nav .view6 .label5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.screen7 .nav .view6 .conficon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen7 .nav .view7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
}
.screen7 .nav .view7 .label6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.screen7 .nav .view7 .coin-icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen7 .nav .view8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 35px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
}
.screen7 .nav .view8 .label7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.screen7 .nav .view8 .post-icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen7 .nav .view9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
}
.screen7 .nav .view9 .label8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.screen7 .nav .view9 .flyer-icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}