

.screen11 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen11 .view1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view1 .header-copy2 {
  background          : rgba(247, 247, 247, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view1 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(133, 133, 133, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen11 .view2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 175px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view2 .header-copy3 {
  background          : rgba(247, 247, 247, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view2 .back-chevron-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 15px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
}
.screen11 .view2 .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen11 .view2 .icon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 23px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.screen11 .view2 .icon .stroke64 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view2 .icon .stroke66 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.screen11 .view2 .icon .stroke68 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 13px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 123px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view3 .header-copy {
  background          : rgba(247, 247, 247, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view3 .back-chevron {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 15px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
}
.screen11 .view3 .label3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.screen11 .view3 .view4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 23px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.screen11 .view3 .view4 .stroke164 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 10px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .view3 .view4 .stroke166 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 23px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
}
.screen11 .header {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .header .headerarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .header .label4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(37, 37, 37, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.screen11 .nav {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 620px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .nav .navarea {
  background          : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 47px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .nav .view5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
}
.screen11 .nav .view5 .label5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.screen11 .nav .view5 .conficon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen11 .nav .view5 .conficon .stroke146 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.screen11 .nav .view5 .conficon .stroke148 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .nav .view6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 36px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
}
.screen11 .nav .view6 .label6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : auto;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "HiraginoSans-W3", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.screen11 .nav .view6 .flyericon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.screen11 .nav .view6 .flyericon .stroke340 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .nav .view6 .flyericon .stroke342 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}